<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>

  <!-- Ajout des images -->
  <div class="image-container">
    <img src="assets/images/team-02.png" height="150" alt="Description de l'image 1" />
    <img src="assets/images/team-03.png" height="150" alt="Description de l'image 2" />
  </div>
</ion-content>